
                                                /* cars */
.buttons {
   text-align: center;
    padding-top: 200px;
}

.btn {
    padding: 20px 70px;
    margin: 50px;
}

                                            /* new cars */
                                                .price {

                                                }