<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All cars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="buttons">
    <a href="newCars" type="button" class="btn btn-info">New cars</a>
    <a href="usedCars" type="button" class="btn btn-info">Used cars</a>
    <a href="allNewCars" type="button" class="btn btn-info">All new cars</a>
</div>
</body>
</html>

