<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>New cars</h2>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Car brand
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Audi</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bmw</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Skoda</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nissan</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Toyota</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Volvo</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">Car model
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Audi</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bmw</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Skoda</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nissan</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Toyota</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Volvo</a></li>
        </ul>
    </div>

    <div class="price">
    <div class="dropdown">
        <p>Price from, EUR</p>
        <button class="btn btn-primary dropdown-toggle" id="menu3" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">27000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">30000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">35000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">40000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">45000</a></li>
        </ul>
    </div>
        <div class="dropdown">
            <p>Price to, EUR</p>
        <button class="btn btn-primary dropdown-toggle" id="menu4" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">27000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">30000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">35000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">40000</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50000</a></li>
        </ul>
    </div>


    </div>
</div>

</body>
</html>





